@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0A0A0A;
}